.header {
    background-color: black;
    color: white;
}

.align-text {
    text-align: center;
}

.font-size-big {
    font-size: 28px;
}

.font-size-medium {
    font-size: 20px;
}

.font-style {
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph {
    background-color: grey;
}